<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018360996122-ifrjhuf9lt9bd1se426tan8c86l779qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018360996122-ifrjhuf9lt9bd1se426tan8c86l779qa</string>
	<key>API_KEY</key>
	<string>AIzaSyA4BY5jhajrW0x_FnNIdKOWuBsq6ey4ivk</string>
	<key>GCM_SENDER_ID</key>
	<string>1018360996122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase-project.Task-Burner</string>
	<key>PROJECT_ID</key>
	<string>task-burner-75b50</string>
	<key>STORAGE_BUCKET</key>
	<string>task-burner-75b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018360996122:ios:712197ad3033c946</string>
	<key>DATABASE_URL</key>
	<string>https://task-burner-75b50.firebaseio.com</string>
</dict>
</plist>